.headerNav {
  background-color: #144272;
}
.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  font-size: 18px;
  text-decoration: none;
  color: var(--color-text-light);
}

.list a:hover,
.list a.active {
  color: var(--color-text-light);
  text-decoration: underline;
  font-size: 20px;
}
